body, header, main, section, div, img, textarea, button, p { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

body, main {display: flex; width: 100%; height: 100%; background-color: #E9ECF8;}

main, section, div {justify-content: center; align-items: center;}

/*   SECTION    */
.saida_msg {background-color: #FFF;}

/*   DIVs   */

.info_msg     {justify-content: left; align-items: baseline;}
.info_msg img {width: 15px;}

.sem_msg, .mostra_msg {flex-direction: column; align-items: center; text-align: center;}

.sem_msg p b {font-size: 24px;}

.mostra_msg        {display: none;}
.mostra_msg button {width: 90%}

/*  TEXTAREAs*/

textarea {padding: 10px; border: 2px solid black; border-radius: 15px; font-size: 18px; resize: none;}

#entraTexto {background-color: #E9ECF8; color: #072B61;}
#saiTexto   {background-color: #FFF;}

/*  BUTTONs*/

button {background-color: #F3F5FC; border: 1px solid #072B61; border-radius: 20px; color: #072B61;}

button:hover {background-color: #072B61; color: #FFF;}

@media only screen and (min-width: 1200px) {

    header {padding: 35px 0;}

    main {margin: 25px 25px;}

    /*   SECTION   */
    .entrada_msg {width: 70%;}
    .saida_msg   {width: 30%; height: 90%; border-radius: 15px; padding: 50px 20px;}

    /*   DIVs   */
    div {display: flex;}

    .info_msg, .acoes_msg {margin: 10px;}

    .info_msg p   {font-size: 14px; margin: 25px 0 0 5px;}

    .acoes_msg        {justify-content: space-between;}
    .acoes_msg button {width: 40%;}

    .sem_msg img {width: 90%; margin-bottom: 25px;}
    .sem_msg p   {margin: 20px 0;}

    /*      TEXTAREAs       */

    #entraTexto {width: 90%;}
    #saiTexto   {width: 100%;}

    /*      BUTTONs     */

    button {margin: 10px; padding: 20px 35px; font-size: 16px;}
}

/*@media screen and (max-width: 768px) {
    
    body, main, section, div {display: flex; flex-direction: column; width: 100%; height: 100%;}

    header {}

    main {}

    section {}

    div {}

}*/

@media only screen and (max-width: 480px) {

    header {padding-top: 15px; align-items: left;}
    
    main, section, div {flex-direction: column;}

    /*      SECTIONs         */

    .entrada_msg {width: 100%;}
    .saida_msg   {width: 80%; margin-top: 25px; border-radius: 20px;}

    /*      DIVs        */
    
    .info_msg     {display: flex; margin-bottom: 10px;}
    .info_msg img {margin-right: 5px;}
    .info_msg p   {margin-bottom: 5px; font-size: 12px;}

    .sem_msg     {padding: 25px 15px; text-align: center;}
    .sem_msg img {display: none;}
    .sem_msg p   {margin: 15px 0;}

    .mostra_msg {justify-content: center; align-items: center;}

    /*      TEXTAREAs       */

    textarea {width: 90%; height: 150px; margin: 25px 0; border-radius: 25px; font-size: 16px;}

    /*      BUTTONs      */

    button {margin: 5px 10px; padding: 10px 45px; border-radius: 15px; font-weight: bold;}
}